<div class="container">
    <div class="mt-5">
        {% for user in users %}
        {% for requests in user.acess_requests %}

        <div
            class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm">
            <!-- Basic Plan -->
            <div class="row align-items-center">
                <div class="col-12 col-md-4">
                    <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">
                        Запрос {{requests.id}} от 
                        <br> {{user.username}}
                    </h4>

                    <div class="text-secondary-d1 text-120">
                        <span class="ml-n15 align-text-bottom"> {{requests.comment}} </span>
                    </div>
                </div>

                <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
                    <li class="mt-25">
                        <i class="bi bi-clock"></i>
                        <span>
                            <span class="text-success-m2">Время начала: </span>
                        </span>
                        <span>
                            <span class="text-110"> {{requests.time_start}} </span>
                        </span>
                    </li>

                    <li class="mt-25">
                        <i class="bi bi-clock-history"></i>
                        <span>
                            <span class="text-success-m2">Время окончания:</span>
                        </span>
                        <span>
                            <span class="text-110"> {{requests.time_end}} </span>
                        </span>
                    </li>

                    <li class="mt-25">
                        {% if requests.status=="Created" %}
                        <i class="bi bi-hourglass-top"></i>
                        {% elif requests.status=="Approved" %}
                        <i class="bi bi-check"></i>
                        {% elif requests.status=="Ready" %}
                        <i class="bi bi-forward-fill"></i>
                        {% else %}
                        <i class="bi bi-x"></i>
                        {% endif %}

                        <span>
                            <span class="text-success-m2">Статус:</span>
                        </span>
                        <span>
                            <span class="text-110"> {{requests.status}} </span>
                        </span>
                    </li>
                </ul>

                <div class="col-12 col-md-4 text-center">
                    {% if requests.status=="Ready" %}
                    <a href=""
                        class="f-n-hover btn btn-success btn-raised px-4 py-25 w-75 text-600">Ссыдка доступка</a>
                    {% else %}
                    <a href="" class="f-n-hover btn btn-secondary btn-raised px-4 py-25 w-75 text-600">Ссылка
                        недоступна</a>
                    {% endif %}                   
                </div>
                <div class="col-12 col-md-4 text-center mt-4">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button onClick="accept_request({{ requests.id }})" type="button" class="btn btn-outline-primary">Разрешить</button>
                        <button onClick="reject_request({{ requests.id }})" type="button" class="btn btn-outline-warning">Запретить</button>
                        <button onClick="remove_request({{ requests.id }})" type="button" class="btn btn-outline-danger">Удалить</button>
                      </div>                   
                </div>
            </div>

        </div>

        {% endfor %}
        {% endfor %}
    </div>
</div>
<script type="text/javascript" src="static/vendor/js/jquery.min.js"></script>
<script>
    function remove_request(request_id) {
        $.ajax({
            url: "/remove_request",
            cache: false,
            type: 'POST',
            data: {request_id : request_id},
            success: function(response){
                setTimeout(()=>window.location.reload(), 500)
            },
            error: function(response){
            },
        })
    }
    function accept_request(request_id) {
        $.ajax({
            url: "/change_request_status",
            cache: false,
            type: 'POST',
            data: {request_id : request_id, new_status: "Approved"},
            success: function(response){
                setTimeout(()=>window.location.reload(), 500)
            },
            error: function(response){
            },
        })
    }
    function reject_request(request_id) {
        $.ajax({
            url: "/change_request_status",
            cache: false,
            type: 'POST',
            data: {request_id : request_id, new_status: "Rejected"},
            success: function(response){
                setTimeout(()=>window.location.reload(), 500)
            },
            error: function(response){
            },
        })
    }
  </script>